<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Lista de Productos con Paginaci칩n</h1>
    <ul>
        {{#each products}}
        <li>
            <a href="/products/{{this._id}}">{{this.title}}</a> - {{this.price}}
            <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
        </li>
        {{/each}}
    </ul>
    <div>
        {{#if hasPrevPage}}
        <a href="?page={{prevPage}}">P치gina Anterior</a>
        {{/if}}
        <span>P치gina {{page}} de {{totalPages}}</span>
        {{#if hasNextPage}}
        <a href="?page={{nextPage}}">P치gina Siguiente</a>
        {{/if}}
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
